.galleryContainer {
    grid-template-columns: .3fr 6fr .3fr;
    margin: auto;
}

.galleryWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: auto;
}

.images {
    margin: auto;
}