    
    <div id='navbarContainer'>

        <!-- Buttons container -->
        <div class='button-container'>
            <div id='logo'>
                <img src='../../../assets/myhomelogo.jpg'
                    height='50rem'
                >
            </div>
            <div>
                <button id='brochureButton' routerLink='/brochure'>
                        View Brochure
                </button>
            </div>
            <div>
                <button routerLink='/property' routerLinkActive='active'>View Property</button>
            </div>
            <div>
                <button id='galleryButton' routerLink='/gallery'>View Gallery</button>
            </div>
            <div>
    
            </div>
            <hr>
        </div>
    </div>
