
<div class='propertyWrapper'>
    <div>
        left
    </div>

    <div>
        details
    </div>

    
    <div id='agent-logo' class='details'>
        Agent Logo:
    </div>
    <div>
        right
    </div>
    <div>

    </div>


    <div>
        <div id='address' class='details'>
            Address:
        </div>
        <div id='price' class='details'>
            Price:
        </div>
        <div id='bed' class='details'>
            Bed:
        </div>
        <div id='baths' class='details'>
            Baths
        </div>
    </div>
    <div id='main-image'>
        image
    </div>

    <div>
        right
    </div>

    <div>
        left
    </div>
    <div>

    </div>
    <div class='button-container'>
        <div>

        </div>
        <div>
            <button>View Brochure</button>
        </div>
        <div>
            <button>View Gallery</button>
        </div>
        <div>
            
        </div>
    </div>


</div>
