
<div class='listWrapper'>
    <div>
    </div>
    <div class='propertyListContainer'>
        <span class='propertyList' *ngFor='let property of allProperties;'>
            <span class='propertyPrices'>€{{property.Price}}</span>
            <img src='{{property.MainPhoto}}' 
                default='../../../assets/no_main_photo.png' 
                height='90rem'
                (click)='selectProperty(property)'
            >
        </span>
    </div>
    
</div>

<div>
    <hr>
</div>


<div>
    <form [formGroup]='filterSearchForm' (ngSubmit)='filterSearch()'>
    <div class='filterContainer'>
        <div>
        </div>

    
            <div>
                <label>Minimum Price:</label>
                <select id='minPrice' class='dropdownMenu' formControlName='minPrice'>
                    <option class='options' *ngFor='let price of minPriceOptions'>
                        <span>{{price}}</span>
                    </option>
                </select>
            </div>
            <div>
                <label>Maximum Price:</label>
                <select id='maxPrice' class='dropdownMenu' formControlName='maxPrice'>
                    <option *ngFor='let price of maxPriceOptions'> 
                        <span>{{price}}</span>
                    </option>
                </select>
            </div>
    
            <div>
                <button type='submit'>
                    Filter by Price range
                </button>

            </div>

        </div>
        <div>
            
        </div>
        
    </form>
    <div id='sortContainer'>
        <button (click)='sortProperties()'>
            <span *ngIf='sortPriceByHighest'>Sort by highest priced Property</span>
            <span *ngIf='!sortPriceByHighest'>Sort by lowest priced Property</span>

        </button>

    </div>
    <div class='errorMessage' *ngIf='showFilterButtonWarning === true'>
        {{filterErrorMessage}}
    </div>
</div>

<div>
    <hr>
</div>

<div class='propertyWrapper'>
    <div>
    </div>

    <div>
    </div>

    
    <div class='details'>
        <img id='agent-logo' 
            src='{{mockDataService.highLightedProperty.groupLogoUrl}}' 
            default='../../../assets/no_agent.png' 
            height='66rem'
        >
    </div>
    <div>
    </div>
    <div>
    </div>


    <div id='propertyDetails'>
        <div id='address' class='details'>
            Address: {{mockDataService.highLightedProperty.displayAddress}}
        </div>
        <div>
            <hr class='hrNarrowTwo'>
        </div>
        <div id='price' class='details'>
            Price: €{{mockDataService.highLightedProperty.price}}
        </div>
        <hr class='hrNarrowOne'>
        <div id='bed' class='details' *ngIf='numberOfBeds > 0'>
            Beds: {{numberOfBeds }}

            <span *ngFor='let num of numberOfBedsNum'>
                <img 
                    class='icons'
                    src='../../../assets/bed.svg' 
                    height='22rem'
                >
            </span>
        </div>
        <hr class='hrNarrowOne'>
        <div id='baths' class='details' *ngIf='numberOfBaths > 0'>
            Baths: {{ numberOfBaths }}

            <span *ngFor='let num of numberOfBathsNum'>
                <img 
                    class='icons'
                    src='../../../assets/bath.svg' 
                    height='20rem'
                >
            </span>
            <hr class='hrNarrowOne'>
        </div>
        <div *ngIf='mockDataService.highLightedProperty.sizeStringMeters > 0' >
            Size: {{mockDataService.highLightedProperty.sizeStringMeters}}㎡
            <hr class='hrNarrowOne'>
        </div>
        <div>
            Property Type: {{mockDataService.highLightedProperty.propertyType}}
            <hr class='hrNarrowOne'>
        </div>
        <div *ngIf='hasBerRating'>
            Ber Rating: {{mockDataService.highLightedProperty.berRating}}
            <hr class='hrNarrowOne'>
        </div>
        
    </div>
    <div id='main-image'>
        <img 
            src='{{mockDataService.highLightedProperty.mainPhoto}}' 
            default='../../../assets/no_main_photo.png' 
            width='100%'>
    </div>

    <div>
    </div>

    <div>
    </div>
    <div>

    </div>
</div>
