$brandBlueDark: #0082b6;
$brandBlue: #009cdb;

.hrNarrowOne {
    border: 0;
    height: 1px;
    background: $brandBlueDark;
    background-image: linear-gradient(to right, #ccc, $brandBlueDark, #ccc);
}

.hrNarrowTwo {
    border: 0;
    height: 2px;
    background: $brandBlueDark;
    background-image: linear-gradient(to right, #ccc, $brandBlueDark, #ccc);
}

.listWrapper {
    display: grid;
    grid-template-columns: .3fr auto .3fr;
}

.propertyListContainer {
    width: 100%;
}

.propertyListItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr .1fr;
}

.propertyWrapper {
    display: grid;
    grid-template-columns: 1.66fr 3fr 8fr 1.66fr;
    margin: auto 0;
}

.propertyPrices {
    position: absolute;
    z-index: 3;
    color: white;
    bottom: 21px;
    background-color: rgba(0, 0, 0, 0.233);
    width: 94%;
    min-width: 80%;
    padding-top: 2px;
    padding-left: .28rem;

}

.propertyList {
    width: 100%;
    min-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .28rem;
    position: relative;
    display: inline;
    white-space:nowrap;
}

.propertyList:hover {
    filter: brightness(110%);
    cursor: pointer;
    animation-delay: .3;
}

.filterContainer {
    display: grid;
    grid-template-columns: 1.5fr 3fr 3fr 4fr .5fr;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.dropdownMenu {
    margin-left: 1rem;
    background-color: $brandBlue;
    border-color: $brandBlueDark;
    color:rgb(255, 255, 255);
    padding-top: .3rem;
    padding-left: .1rem;
    padding-bottom: .1rem;
    font-size: 1rem;
    outline: none;
}

option {
    background-color: rgb(255, 255, 255);
    color: $brandBlue;
}

.errorMessage {
    color: red;
    text-align: center;
}

#sortContainer {
    display: flex;
    justify-content: center;
}

#agent-logo {
    float:right;
}

#main-image {
    margin: .3rem;
    min-height: 20rem;
}

#propertyDetails {
    padding-right: 1rem;
}

#price {
    font-size: 1.2rem;
    font-weight: 330;
}

#address {
    color: $brandBlueDark;
    font-size: 1.3rem;
    font-weight: 360;
}

.icons {
    margin-left: .5rem;
    // padding-top: .2rem;
    transform:translateY(5px)
}