
<div class='listWrapper'>
    <div>
    </div>
    <div class='propertyListContainer'>
        <span class='propertyList' *ngFor='let property of allProperties;'>
            <img src='{{property.MainPhoto}}' 
                default='../../../assets/no_main_photo.png' 
                height='90rem'
                (click)='selectProperty(property)'
            >
        </span>
    </div>
    
</div>

<div>
    <form [formGroup]='filterSearchForm' (ngSubmit)='filterSearch()'>
    <div class='filterContainer'>
        <div>
        </div>

    
            <div>
                <label>Minimum Price</label>
                <select id='minPrice' formControlName='minPrice'>
                    <option *ngFor='let price of minPriceOptions' 
                        [ngValue]='price'>{{price}}</option>
                </select>
            </div>
            <div>
                <label>Maximum Price</label>
                <select id='maxPrice' formControlName='maxPrice'>
                    <option *ngFor='let price of maxPriceOptions' 
                        [ngValue]='price'>{{price}}</option>
                </select>
            </div>
    
            <div>
                <button type='submit' [disabled]='!filterSearchForm.valid'>
                    Filter by Price range
                </button>

            </div>
        </div>
        <div></div>
        
    </form>
</div>


<div class='propertyWrapper'>
    <div>
    </div>

    <div>
    </div>

    
    <div class='details'>
        <img id='agent-logo' 
            src='{{mockDataService.highLightedProperty.groupLogoUrl}}' 
            default='../../../assets/no_main_photo.png' 
            height='66rem'>
    </div>
    <div>
    </div>
    <div>
    </div>


    <div>
        <div id='address' class='details'>
            Address: {{mockDataService.highLightedProperty.displayAddress}}
        </div>
        <div id='price' class='details'>
            Price: €{{mockDataService.highLightedProperty.price}}
        </div>
        <div id='bed' class='details' *ngIf='numberOfBeds > 0'>
            Beds: {{numberOfBeds }}
        </div>
        <div id='baths' class='details' *ngIf='numberOfBaths > 0'>
            Baths: {{ numberOfBaths }}
        </div>
    </div>
    <div id='main-image'>
        <img 
            src='{{mockDataService.highLightedProperty.mainPhoto}}' 
            default='../../../assets/no_main_photo.png' 
            width='100%'>
    </div>

    <div>
    </div>

    <div>
    </div>
    <div>

    </div>
    <div class='button-container'>
        <div>
        </div>
        <div>
            <button routerLink='/brochure'  routerLinkActive='active'>
                    View Brochure
            </button>
        </div>
        <div>
            <button routerLink='/gallery'>View Gallery</button>
        </div>
        <div>

        </div>
    </div>
</div>
