.listWrapper {
    display: grid;
    grid-template-columns: .3fr 5fr .3fr;
    // background-color: blue;

}
// .propertyListContainer {
//     overflow-x: scroll;
//     overflow-y: none;
//     max-height: 6rem;
// }

.propertyWrapper {
    display: grid;
    grid-template-columns: 1.66fr 3fr 8fr 1.66fr;
    // background-color: aquamarine;
    margin: auto 0;
}


.propertyList {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .28rem;
}

.propertyList:hover {
    filter: brightness(110%);
    cursor: pointer;
    animation-delay: .3;
}

.details {
    // background-color: #ff0000;
    margin: .3rem;
}

#agent-logo {
    float:right;
}

#main-image {
    // background-color: blue;
    margin: .3rem;
    min-height: 20rem;
}

.button-container {

    display: grid;
    grid-template-columns: 1.66fr 5fr 5fr 1.66fr;
    // background-color: red;
    margin: auto;
    // margin-left: 1.5rem;
    // margin-right: 1.5rem;
}