$brandBlue: #009cdb;
$brandBlueLight: #02b6fd;
$brandBlueDark: #0082b6;

body {
    background-color: rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

button {
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    border-radius: .6rem;
    border-color: $brandBlueDark;
    background-color: $brandBlue;
    letter-spacing: 0.1px;
    text-transform: capitalize;
    padding: .38rem .45rem .38rem .45rem;
    border: none;
    outline: none;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

button:hover {
    background-color: $brandBlueLight;
    color: rgb(219, 219, 219);
    transition: 0.3s;
    cursor: pointer;
}

.button-container {
    display: grid;
    grid-template-columns: 1.66fr 5fr 5fr 1.66fr;
    margin: auto;
    margin-top: 3rem;
}

hr {
    border: 0;
    height: 3px;
    background: $brandBlueDark;
    background-image: linear-gradient(to right, #ccc, $brandBlueDark, #ccc);
}